/* Force cache invalidation */
@import "tailwindcss";

:root {
  /* --background: #F4F4F0; */
  --background: #fffded; 
  /* --foreground: #000000; */
  --foreground: #08040e;  
  /* --primary: #FF5C00; */
  --primary: #9b72cf;    
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --font-anton: var(--font-anton);
  --font-caveat: var(--font-caveat);
  --font-inter: var(--font-inter);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
  background-image: repeating-linear-gradient(transparent,
      transparent 31px,
      #e0e0d8 31px,
      #e0e0d8 32px);
}